@tailwind base;
@tailwind components;
@tailwind utilities;


.paraghrap-c{
    @apply 
}
.wrapper{
    display: flex;
    width: 750px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 150px;
    padding: 2.5rem;
    background: #ddd;
    box-shadow: rgba(0, 0, 0, 35) 0 5px 15px; 
}
.item{
    animation: animate 25s alternate linear infinite;
}
.wrapper:hover .item{
    animation-play-state: paused;
}
@keyframes animate{
    0%{
        transform: translate3d(0,0,0);
    }
    100%{
        transform: translate3d(-1100px,0,0);
    }
}
@media (max-width: 767px){
    .wrapper{
        width: 95%;
        border-radius: 0%;
        padding: 0;
    }
}
